body {
    padding: 0;
    background-color: #d4dde4;
  }

.left-sidebar {
    padding: 0;
}

.left-sidebar-img {
    background-image: url("../img/forest.jpg");
    background-color: rgba(209, 211, 189, 0.6);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.left-sidebar-buttons {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 20px;
    color: white;
}

.left-sidebar-buttons > i {
    cursor: pointer;
}

.the-foret-icon {
    margin: 110px 40px 40px 40px;
}

.left-sidebar-phrase {
    margin: 80px 40px 40px 40px;
    font-family: 'Lobster Two', cursive;
    font-size: 22px;
    color: white;
    text-align: center;
}

.main {
    width: auto;
    padding: 0;
}

.navbar-default {
    width: auto;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-bottom: 2px solid #d4dde4;
    padding: 15px 180px 15px 180px;
}

.navbar-default .navbar-nav {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.navbar-default .navbar-nav:hover,
.navbar-default .navbar-nav:focus {
    color: #6ca2af;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #6ca2af;
}

.post {
    width: auto;
    margin: 3px 15px 50px 15px;
    padding: 55px 70px 80px 70px;
    background-color: white;
}

.post > h1 {
    font-family: 'Playfair Display', serif;
}

.post-header-main-part {
    color: #837d7d;
}

.post-data {
    display: inline-block;
    font-weight: 700;
    color: #837d7d;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.post-data > strong > i {
    display: inline-block;
    margin-right: 10px;
}


.post-data-text {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.post-introduction {
    font-size: 24px;
    font-family: 'Kurale', serif;
    font-weight: 500;
    color: #000000;
    margin-bottom: 30px;
}

.post-main-text {
    color: #837d7d;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.post-1-img {
    float: right; 
    margin: 2px 0 10px 10px;
    height: 300px;
    width: 350px;
}

.line-height {
    line-height: 1.5;
    margin-top: 30px;
}

.link-to-continue {
    float: right;
    cursor: pointer;
    border-bottom: 2px solid #afaaaae0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 14px;
    margin-top: 40px;
}

.link-to-continue > strong > i {
    margin-left: 5px;
}

.post-2-img {
    margin-bottom: 5px;
    display: inline-block;
}
