.left-sidebar-img {
    background-image: url("../img/forest.jpg");
    background-color: rgba(209, 211, 189, 0.6);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-sidebar-buttons {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 20px;
    color: white;
}

.left-sidebar-buttons > i {
    cursor: pointer;
}

.the-foret-icon {
    margin: 110px 40px 40px 40px;
}

.left-sidebar-phrase {
    margin: 80px 40px 40px 40px;
    font-family: 'Lobster Two', cursive;
    font-size: 17px;
    color: white;
    text-align: center;
}

.top-buttons {
    padding: 0 50px 0 50 px;
}